<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="propertyreader" name="Property Reader" schema="schema/propertyreader.exsd"/>
   <extension-point id="entryeditor" name="Entry Editor" schema="schema/entryeditor.exsd"/>
   <extension-point id="preferencePages" name="Preference Pages" schema="schema/preferencePages.exsd"/>
   <extension
         id="org.grits.toolbox.core.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.grits.toolbox.core.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.grits.toolbox.core.application"
            name="GRITS">
         <property
               name="appName"
               value="GRITS">
         </property>
         <property
               name="windowImages"
               value="icons/icon16.png,icons/icon32.png,icons/icon48.png,icons/icon64.png,icons/icon128.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,440,15">
         </property>
         <property
               name="applicationXMI"
               value="org.grits.toolbox.core/Application.e4xmi">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.grits.toolbox.core/org.grits.toolbox.core.ApplicationManager">
         </property>
         <property
               name="aboutImage"
               value="icons/icon128.png">
         </property>
         <property
               name="aboutText"
               value="GRITS Toolbox is a modular software suite for processing, annotating and archiving of glycomics data with a focus on MS data. The software allows users to upload their instrument MS data files in open file formats (either as mzXML or mzML) and annotated them using GRITS Toolbox. Our software can process different types of MS data including MS profiling data, MS/MS data from direct infusion experiments, LC/MS/MS data and TIM data. In addition to the processing, evaluation and browsing of the experimental data GRITS Toolbox can also be used to archive meta data along with the experiment data.&#x0A;&#x0A;HOW TO CITE:&#x0A;============&#x0A;GRITS Toolbox-a freely available software for processing, annotating and archiving glycomics mass spectrometry data.&#x0A;Weatherly DB, Arpinar FS, Porterfield M, Tiemeyer M, York WS, Ranzinger R.&#x0A;Glycobiology. 2019 Jun 1;29(6):452-460.&#x0A;PMID: 30913289&#x0A;DOI: 10.1093/glycob/cwz023">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.grits.toolbox.core.propertyreader">
      <reader
            class="org.grits.toolbox.core.datamodel.io.ReportsPropertyReader"
            propertyId="org.grits.toolbox.property.reports">
      </reader>
      <reader
            class="org.grits.toolbox.core.datamodel.io.project.ProjectPropertyReader"
            propertyId="org.grits.toolbox.property.project">
      </reader>
   </extension>
   <extension
         point="org.grits.toolbox.core.preferencePages">
      <page
            class="org.grits.toolbox.core.preference.project.ProjectPreference"
            id="org.grits.toolbox.core.preference.project"
            name="Project">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project"
            class="org.grits.toolbox.core.preference.project.CollaboratorPreference"
            id="org.grits.toolbox.core.preference.project.collaborator"
            name="Collaborator">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.collaborator"
            class="org.grits.toolbox.core.preference.project.CollaboratorTablePreference"
            id="org.grits.toolbox.core.preference.project.collaborator.table"
            name="Table">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.collaborator"
            class="org.grits.toolbox.core.preference.project.PositionPreference"
            id="org.grits.toolbox.core.preference.project.collaborator.position"
            name="Position">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.collaborator"
            class="org.grits.toolbox.core.preference.project.CountryPreference"
            id="org.grits.toolbox.core.preference.project.collaborator.country"
            name="Country">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.collaborator"
            class="org.grits.toolbox.core.preference.project.FundingPreference"
            id="org.grits.toolbox.core.preference.project.collaborator.funding"
            name="Funding">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project"
            class="org.grits.toolbox.core.preference.project.TasklistPreference"
            id="org.grits.toolbox.core.preference.project.tasklist"
            name="Tasklist">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.tasklist"
            class="org.grits.toolbox.core.preference.project.RolePreference"
            id="org.grits.toolbox.core.preference.project.tasklist.role"
            name="Role">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.tasklist"
            class="org.grits.toolbox.core.preference.project.TaskPreference"
            id="org.grits.toolbox.core.preference.project.tasklist.task"
            name="Task">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.tasklist"
            class="org.grits.toolbox.core.preference.project.StatusPreference"
            id="org.grits.toolbox.core.preference.project.tasklist.status"
            name="Status">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project"
            class="org.grits.toolbox.core.preference.project.EventPreference"
            id="org.grits.toolbox.core.preference.project.event"
            name="Event">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.event"
            class="org.grits.toolbox.core.preference.project.ActionPreference"
            id="org.grits.toolbox.core.preference.project.event.action"
            name="Action">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project"
            class="org.grits.toolbox.core.preference.project.KeywordPreference"
            id="org.grits.toolbox.core.preference.project.keyword"
            name="Keyword">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.tasklist"
            class="org.grits.toolbox.core.preference.project.PersonPreference"
            id="org.grits.toolbox.core.preference.project.tasklist.person"
            name="Person">
      </page>
      <page
            category="org.grits.toolbox.core.preference.project.tasklist"
            class="org.grits.toolbox.core.preference.project.TasklistTablePreference"
            id="org.grits.toolbox.core.preference.project.tasklist.table"
            name="Table">
      </page>
      <page
            class="org.grits.toolbox.core.preference.GlobalPreferencesPage"
            id="org.grits.toolbox.core.global"
            name="Global Settings">
      </page>
   </extension>
</plugin>
